@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
/* navbar style start */
header {
  background-color: rgb(241, 136, 241);
}
.nav-section {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-container {
  min-height: 15px;
  display: flex;
  align-items: center;
  width: 50%;
}
.nav-container img {
  width: 70px;
}
.nav-container p {
  font-size: 15px;
}
.text-design {
  color: rgb(245, 87, 113);
  font-weight: 900;
}
.items-container {
  justify-content: space-around;
  display: flex;
  width: 50%;
  align-items: center;
}
.items-container a {
  text-decoration: none;
  color: white;
}
.items-container .login-button {
  padding: 10px 20px;
  background-color: rgb(172, 41, 172);
  border-radius: 5px;
  color: black;
}
.banner-section {
  max-width: 1250px;
  margin: 0 auto;
  min-height: 400px;
  display: flex;
  background-color: #e6e9eb;
  padding: 25px;
  border-radius: 10px;
  margin-top: 20px;
}
.text-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.banner-image-section {
  width: 50%;
  position: relative;
}
.discount {
  width: 90px;
  height: 90px;
  background-color: rgb(172, 41, 172);
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: 5%;
  left: 69%;
}
.banner-image-section img {
  width: 100%;
  display: block;
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 10px;
}
.text-section p,
span {
  font-size: 45px;
}
.text-section h1 {
  background: linear-gradient(90deg, rgb(245, 87, 113), rgb(172, 41, 172));
  background-clip: text;
  color: transparent;
  font-size: 60px;
}
.text-section p {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
}
.fa-brands {
  font-size: 60px;
}
.icons {
  display: flex;
  gap: 15px;
}
.common-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid violet;
  font: bold;
}
/* products styles */

.product-section {
  max-width: 1250px;
  margin: 0 auto;
}
.grid-container {
  min-width: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.single-product {
  padding: 15px;
  background-color: #e6e9eb;
  border-radius: 5px;
}
.single-product img {
  width: 70%;
  display: block;
  margin: 0 auto;
}

.porduct-heading-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.porduct-heading-icons span {
  display: inline-block;
  font-size: 15px;
  line-height: 30px;
  background-color: violet;
  color: white;
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: bottom;
  border-radius: 50%;
}
/* gallery styles */
.gallery-section {
  max-width: 1250px;
  margin: 0 auto;
  border: 2px solid red;
}
.gallery-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.single-gallery img {
  width: 70%;
  margin: 0 auto;
}
.single-gallery {
  flex-basis: 300px;
  border-radius: 20px;
  box-shadow: rgba(128, 128, 136, 0.2) 0px 7px 29px 0px;
}
